albumentations==0.5.2
geffnet==1.0.0
opencv-python==3.4.1.15
opencv-python-headless==4.4.0.46
pandas==0.24.2
Pillow==8.0.1
scikit-learn==0.23.2
torch==1.7.0a0+7036e91
wandb==0.10.12
pytorch_lightning==1.1.0
